/*-- scss:defaults --*/

// Abril Fatface
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// Bootstraps icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

// COLORES ---------------------------------------------------------------------

$verde: #007e2e;
$violeta: #341648;
$blanco: #f2f2f2;
$negro: #000000;

/*-- scss:rules --*/

.card-titulo {
  color: $blanco;
  font-size: 2em;
  font-weight: bold;
  font-family: Nunito;
}

.bslib-card .card-header {
  background-color: $violeta;
}

.accordion {
    --bs-accordion-btn-color: $violeta;
}

.navbar-brand {
    font-family: Abril Fatface;
    font-weight: bold;
    font-size: 2em;
    margin-right: 2em;
    color: $verde;
}

.bslib-page-navbar .navbar, .bslib-page-dashboard .navbar {
    border-bottom: solid black 1px;
}

.eqi-container {
  display: flex;
  justify-content: space-between;
}

.simple-icons--doi {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23007e2e' d='M24 12c0 6.633-5.367 12-12 12S0 18.633 0 12S5.367 0 12 0s12 5.367 12 12M7.588 6.097v4.471c-.663-.925-1.403-1.373-2.406-1.373c-2.046 0-3.244 1.441-3.244 3.847c0 2.357 1.325 3.848 3.166 3.848c1.12 0 1.88-.4 2.445-1.325l-.039 1.042h2.045V6.097Zm-1.763 8.942c-1.12 0-1.802-.76-1.802-2.045c0-1.325.682-2.085 1.802-2.085c1.081 0 1.802.76 1.802 2.085c0 1.285-.672 2.045-1.802 2.045m12.253-1.948c0-2.172-1.578-3.789-3.906-3.789s-3.945 1.695-3.945 3.789c0 2.133 1.578 3.789 3.945 3.789c2.289 0 3.906-1.656 3.906-3.789m-2.094-.01c0 1.14-.711 1.89-1.851 1.89c-1.139 0-1.851-.75-1.851-1.89s.712-1.89 1.851-1.89c1.149 0 1.861.751 1.851 1.89m2.6-5.795c0 .633.517 1.227 1.189 1.227c.633 0 1.188-.555 1.188-1.227a1.17 1.17 0 0 0-1.188-1.189c-.672 0-1.179.556-1.189 1.189m.166 9.341h2.055V9.604H18.75Z'/%3E%3C/svg%3E");
}

.quill--paper {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none' stroke='%23007e2e' stroke-width='1'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 9h4m-4 7h12m-12 4h12m-12 4h4m-6 5h16a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2'/%3E%3Ccircle cx='22' cy='9' r='.5' fill='%23007e2e'/%3E%3C/g%3E%3C/svg%3E");
}

.simple-icons--orcid {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2388ab26' d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12s12-5.372 12-12S18.628 0 12 0M7.369 4.378c.525 0 .947.431.947.947s-.422.947-.947.947a.95.95 0 0 1-.947-.947c0-.525.422-.947.947-.947m-.722 3.038h1.444v10.041H6.647zm3.562 0h3.9c3.712 0 5.344 2.653 5.344 5.025c0 2.578-2.016 5.025-5.325 5.025h-3.919zm1.444 1.303v7.444h2.297c3.272 0 4.022-2.484 4.022-3.722c0-2.016-1.284-3.722-4.097-3.722z'/%3E%3C/svg%3E");
}

.ic--round-email {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2388ab26' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m-.4 4.25l-7.07 4.42c-.32.2-.74.2-1.06 0L4.4 8.25a.85.85 0 1 1 .9-1.44L12 11l6.7-4.19a.85.85 0 1 1 .9 1.44'/%3E%3C/svg%3E");
}
