/*-- scss:defaults --*/

// Poncho
@import "https://raw.githubusercontent.com/argob/poncho/refs/heads/master/dist/css/icono-arg.css";

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

// Rufina
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// FUENTES ---------------------------------------------------------------------

$font-family-sans-serif: "Noto Sans", serif !default;
$font-family-monospace: "JetBrains Mono";
$presentation-font-size-root: 30px;

// COLORES ---------------------------------------------------------------------

$naranja: #e35e28;
$verde: #007e2e;
// $azul: #1A428A;
// $blanco: #FFFFFF;
// $celeste: #6AAAE4;
// $gris: #c0c0c0 ;
// $gris2: #4D4D4D;
// $rosa: #F79CD4;
// $negro: #131E29;
// $rosa-claro: lighthen($rosa, 60);
// $code-bg: #E5E5E5;
// $code-color: $negro;

// $body-bg: $azul !default;
// $body-color: $blanco !default;
// $link-color: darken($rosa, 10) !default;
// $link-hover-color: darken($rosa, 25) !default;

// $selection-bg: $gris !default;

/*-- scss:rules --*/

// :root {
//     --bs-navbar-padding-y: 2rem !important; 
// }

.navbar-brand {
    font-family: Rufina;
    font-weight: bold;
    font-size: 2em;
    margin-right: 2em;
    color: $verde;
}

.bslib-page-navbar .navbar, .bslib-page-dashboard .navbar {
    border-bottom: solid black 1px;
}

.simple-icons--doi {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23007e2e' d='M24 12c0 6.633-5.367 12-12 12S0 18.633 0 12S5.367 0 12 0s12 5.367 12 12M7.588 6.097v4.471c-.663-.925-1.403-1.373-2.406-1.373c-2.046 0-3.244 1.441-3.244 3.847c0 2.357 1.325 3.848 3.166 3.848c1.12 0 1.88-.4 2.445-1.325l-.039 1.042h2.045V6.097Zm-1.763 8.942c-1.12 0-1.802-.76-1.802-2.045c0-1.325.682-2.085 1.802-2.085c1.081 0 1.802.76 1.802 2.085c0 1.285-.672 2.045-1.802 2.045m12.253-1.948c0-2.172-1.578-3.789-3.906-3.789s-3.945 1.695-3.945 3.789c0 2.133 1.578 3.789 3.945 3.789c2.289 0 3.906-1.656 3.906-3.789m-2.094-.01c0 1.14-.711 1.89-1.851 1.89c-1.139 0-1.851-.75-1.851-1.89s.712-1.89 1.851-1.89c1.149 0 1.861.751 1.851 1.89m2.6-5.795c0 .633.517 1.227 1.189 1.227c.633 0 1.188-.555 1.188-1.227a1.17 1.17 0 0 0-1.188-1.189c-.672 0-1.179.556-1.189 1.189m.166 9.341h2.055V9.604H18.75Z'/%3E%3C/svg%3E");
}

.quill--paper {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none' stroke='%23007e2e' stroke-width='1'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 9h4m-4 7h12m-12 4h12m-12 4h4m-6 5h16a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2'/%3E%3Ccircle cx='22' cy='9' r='.5' fill='%23007e2e'/%3E%3C/g%3E%3C/svg%3E");
}
